<html>
    <head>
        <title>Authorize Community | Word Club</title>
    </head>
    <body>
        <div>
            <div>
                Browse to the provided url for email verification.
            </div>
            <a
                class="action-text"
                type="POST"
                href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ domain }}{% url 'auth_code:confirm-authorize-community' code=code %}">
                <h5 class="waves-effect waves-light">Click here to proceed.<i class="fas fa-lock-open ml-2"></i></h5>
            </a>
        </div>
    </body>
</html>
