DEBUG=True
TIME_ZONE="Asia/Kathmandu"
SECRET_KEY="&ts#)9z4afqs9v6@y&g)nch%fo-q#2y@4^@13hte&*ra(78d-7"
HOST_EMAIL=something@test.com
HOST_PASSWORD=something
PYTHON=venv/bin/python
PIP=venv/bin/pip
REDIS_HOST=localhost
REDIS_PORT=6379
DB_NAME=test
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
SETTINGS=backend.settings.dev
